page-login {

.background-login{
    background-image: url('../assets/images/fundo-app.jpg');
}

.texto{
    color: rgb(255, 255, 255);
}

.botom{
    background-color: rgb(7, 106, 227);
}
.botaocentro{
    border-bottom-style: align-center;
}
}
