page-dados-app {
    .background-login{
        background-image: url('../assets/images/fundo-app.jpg');
    }

    .texto{
        color: rgb(255, 255, 255);
    }

    .texto2{
        color: rgba(205, 200, 200, 0.95);
    }
}
