<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      Add Usúario no Grupo
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="view" color="branco">
      <ion-segment-button value="addUser">
        Add Usuário
      </ion-segment-button>
      <ion-segment-button value="listTel" (click)="getContacts()">
        Contatos Telefone
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding [ngSwitch]="view">
  <div *ngSwitchCase="'addUser'">
    <form [formGroup]="UsuarioForm">

      <ion-item>
        <ion-icon name="call" item-left color="primary"></ion-icon>
        <ion-input type="tel" formControlName="telefone" placeholder="(99)9999-9999" maxlength="14" [brmasker]="{mask:'(00)00000-0000', len:14}"></ion-input>
      </ion-item>
    </form>
  </div>

  <div *ngSwitchCase="'listTel'">
      <ion-searchbar
      [(ngModel)]="nomeContato"
      (ionInput)="filtrarLista($event)"
      [showCancelButton]="shouldShowCancel"
      (ionClear)="apagarLista($event)">
    </ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let contact of contactList" (click)="selecionarContato(contact.number)">
        <ion-avatar *ngIf="contact.image" item-start>
          <img [src]="contact.image">
        </ion-avatar>
        {{contact.name}}
        <p>{{contact.number}}</p>
        <ion-icon name="checkmark" item-end color="primary" *ngIf="contact.selected"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer [ngSwitch]="view">

  <ion-fab bottom right (click)="onSubmit()" *ngSwitchCase="'addUser'">
    <ion-icon ion-fab name="person-add" style="font-size: 2.5em;"></ion-icon>
  </ion-fab>

  <ion-fab bottom left (click)="onSubmitCelular()" *ngSwitchCase="'listTel'">
      <ion-icon ion-fab name="person-add" style="font-size: 2.5em;"></ion-icon>
    </ion-fab>

</ion-footer>